@define-color background #111318;
@define-color label #e2e2e9;
@define-color image #aec6ff;
@define-color progress #aec6ff;

window {
  border-radius: 15px;
  opacity: 0.97;
  background-color: @background;
}

label {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11pt;
  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
