@define-color background #1a120d;
@define-color label #f0dfd7;
@define-color image #ffb68c;
@define-color progress #ffb68c;

window {
  border-radius: 15px;
  opacity: 0.97;
  background-color: @background;
}

label {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11pt;
  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
