@import "/home/pranav/.cache/wal/colors-waybar.css";
* {
    font-family: "Jetbrains Mono Nerd Font";
    font-size: 14px;
    color: @foreground;
    font-weight: bold;
}
window#waybar {
    background-color: @background;
}
window#waybar.hidden {
    opacity: 0.2;
}

.modules-left {
  margin: 10px;
}
#custom-arch {
  margin: 0px 10px 0px 0px;
  background-color: @color8;
  padding: 0px 5px 0px 2px;
}
#clock {
  margin: 0px 10px 0px 0px;
  background-color: @color8;
  padding: 0px 5px;
}
#window {
  margin: 0px 10px 0px 0px;
  background-color: @color8;
  padding: 0px 5px;
}

#workspaces {
  margin: 10px;
}
#workspaces button.empty {
  background-color: @color8;
}
#workspaces button {
  background-color: @color1;
  margin: 0px;
  padding: 0px 5px;
  border-radius: 0px;
}
#workspaces button.active {
  background-color: @color3
}

.modules-right {
  margin: 10px;
}
#network {
  margin: 0px 10px 0px 0px;
  background-color : @color8;
  padding: 0px 5px;
}
#bluetooth {
  margin: 0px 10px 0px 0px;
  background-color : @color8;
  padding: 0px 5px;
}
#wireplumber {
  margin: 0px 10px 0px 0px;
  background-color : @color8;
  padding: 0px 15px 0px 5px;
}
#backlight {
  margin: 0px 10px 0px 0px;
  background-color : @color8;
  padding: 0px 10px 0px 5px;
}
#battery {
  margin: 0px 10px 0px 0px;
  background-color : @color8;
  padding: 0px 15px 0px 5px;
}
#battery {
  margin: 0px 10px 0px 0px;
  background-color : @color8;
  padding: 0px 15px 0px 5px;
}
#custom-powermenu {
  margin: 0px 5px 0px 0px;
  background-color : @color8;
  padding: 0px 5px 0px 3px;
}
