* {
    background:     #{{colors.surface_container.default.hex_stripped}};
    background-alt: #{{colors.surface_container_high.default.hex_stripped}};
    foreground:     #{{colors.on_surface.default.hex_stripped}};
    selected:       #{{colors.primary.default.hex_stripped}};
    active:         #{{colors.tertiary.default.hex_stripped}};
    urgent:         #{{colors.error.default.hex_stripped}};
}
